.boxes {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50vh;
  background: burlywood;
}

.box {
  flex-basis: 8rem;
  height: 8rem;
}

.box-one {
  background: green;
}
.box-two {
  background: blue;
}
.box-three {
  background: red;
}
