* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --smooth-black: #3a3a3a;
  --white: #ffffff;
  --light-red: #ff6666;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

.main-header {
  display: flex;
  flex-direction: column;
  background: var(--light-red);
  height: 100vh;
  width: 100vw;
}

.navbar {
  padding: 3rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--smooth-black);
}

.navbar h1 {
  font-size: 5rem;
  font-weight: 700;
}

.hamburger-icon {
  cursor: pointer;
}

.hamburger-icon path {
  fill: var(--smooth-black);
}
.hamburger-icon path:hover {
  fill: #fff;
}

.main-content {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.description {
  text-align: center;
  margin: 15rem auto;
  font-size: 2.5rem;
  color: var(--white);
}
.description .full-name {
  color: var(--smooth-black);
  font-size: 4rem;
  font-weight: 400;
}

.side-bar {
  text-align: center;
  margin-right: 15rem;
}

.side-bar ul {
  display: flex;
  flex-direction: column;
}
.side-bar ul li {
  padding: 1rem;
  font-size: 2.5rem;
  color: var(--smooth-black);
}

.side-bar ul li:hover {
  color: var(--white);
}

@media screen and (max-width: 1075px) {
  .main-content {
    flex-direction: column-reverse;
  }
  .description {
    font-size: 2rem;
  }
  .description .full-name {
    font-size: 3rem;
  }

  .side-bar {
    margin: 0 auto;
  }
  .side-bar ul {
    flex-direction: row;
  }
}
