.products-nav {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  height: 10vh;
  background: #de354c;
}

.nav-item {
  width: 12%;
  display: flex;
  justify-content: space-between;
}

.inactive {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
}
.active {
  color: black;
  font-weight: bold;
  font-size: 3rem;
  text-decoration: none;
}

.product {
  width: 25rem;
  height: 25rem;
  border: 1px solid black;
}

.product-img {
  height: 75%;
}

.product-img img {
  height: 100%;
  width: 100%;
}

.product-info {
  height: 25%;
}

.product-info h5 {
  font-size: 1.5rem;
}

.products-list {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
