.avatar-card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 25rem;
  width: 25rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1.5rem;
}

.avatar-header {
  height: 20%;
}

.avatr-img {
  height: 80%;
}

.avatr-img img {
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

.avatar-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-header h1 {
  font-size: 1.5rem;
}

.avatars-list {
  display: flex;
  flex-wrap: wrap;
}

.avatar-input {
  font-size: 2.5rem;
}

.avatar-btn {
  font-size: 2.5rem;
}
