.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1rem;
  color: #fff;
  background: #ff6666;
}

ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

li {
  margin-right: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    /* justify-content: space-around; */
    height: 30vh;
  }

  ul {
    flex-direction: column;
  }
}
